@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--secondary-color);
  max-height: 206px;
  padding: 24px;

  @include onTablet {
    min-width: 368px;
  }

  &__total-price {
    font-size: 32px;
    color: var(--white-color);
    font-weight: 800;
    margin-bottom: 10px;
  }

  &__total-items {
    text-align: center;
    min-width: 100%;
    border-bottom: 1px solid var(--elements-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: var(--secondary-color);
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--secondary-color);
  }

  &__button {
    font-size: 14px;
    font-weight: 700;
    color: var(--btn-color);
    background-color: var(--accent-color);
    min-width: 100%;
    min-height: 3rem;
  }
}