@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.product {
  &__name {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 140%;

    @include onTablet {
      font-size: 2rem;
      margin-bottom: 2.5rem;
    }
  }

  &__productDescription {
    display: flex;
    flex-direction: column;
    margin: 0 0 4rem;

    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
      gap: 4rem;
    }
  }
}