@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.contacts-card {
  @extend %flex-center;
  flex-direction: column;
  background-color: var(--border-color);
  border: 1px solid var(--white-color);
  border-radius: 3px;
  padding: 20px;
  width: 100%;

  @include onTablet {
    width: 400px;
  }

  @include onLaptop {
    width: 500px;
  }

  &__logo {
    max-width: 100px;
    border-radius: 50%;
    border: 3px solid var(--pagination-text);
  }

  &__title {
    color: var(--pagination-text);
    margin: 10px 0 0;
    
  }

  &__position {
    color: rgb(248, 176, 43);
    text-align: center;
    margin: 5px 0 0;
  }

  &__icons {
    @extend %flex-center;
    margin: 10px 0 0;
  }

  &__icon {
    max-width: 20px;
    margin: 0 5px;
  }
}