@keyframes pulse {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.25;
  }
}

@keyframes bubbing {
  0% {
    transform: scale(0);
  } 50% {
    transform: scale(1.1);
  } 100% {
    transform: scale(1);
  }
}

%skeleton {
  background-color: var(--mockup-color);
  border-radius: 5px;
  animation: pulse 1s ease-in-out infinite alternate;
}