@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.backToButton {
  margin: 0 0 16px;
  &__button {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    max-width: max-content;
    color: var(--secondary-color);
    font-size: 12px;
    font-weight: 800;
    transition: 0.3s ease;
    
    &:hover {
      color: var(--white-color);
    }
  }

  &__image {
    max-width: 16px;
    max-height: 16px;
  }
}