@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.card {
  &__prices {
    display: flex;
    margin: auto 0 0;
  }

  &__price {
    font-size: 22px;
    font-weight: 800;
    margin: 0 8px 0 0;

    &--discount {
      color: var(--secondary-color);
      text-decoration: line-through;
      font-weight: 600;
      margin: 0;
    }
  }
}