@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.productsList {
  display: grid;
  grid-template-columns: repeat(1, minmax(212px, 262px));
  column-gap: 16px;
  row-gap: 40px;
  align-items: center;
  justify-content: center;

  @include onTablet {
    grid-template-columns: repeat(2, 237px);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 237px);
  }

  @include onLaptop {
    grid-template-columns: repeat(4, 272px);
  }
}