@import './styles/variables.scss';
@import './styles/reset.scss';
@import './styles/normalize.scss';

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  min-height: 100vh;
  padding: 40px 0 360px 0;
  transition: 0.3s ease;

  @include onTablet {
    padding: 54px 0 164px 0;
  }
  @include onLaptop {
    padding: 54px 0 180px 0;
  }
}