@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.HomePage {
  &__title {
    margin: 0 0 24px;

    @include onTablet {
      margin: 0 0 32px;
    }
    @include onLaptop {
      margin: 0 0 56px;
    }
  }

  &__big-slider {
    max-width: 1200px;
    @include onTablet {
      padding: 0 24px;
    }
    @include onLaptop {
      margin: 0 auto;
      padding: 0 32px;
    }
  }
}