@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.productSlider {
  &__slide {
    width: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}