@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.colors {
  &__circles {
    border: 2px solid var(--elements-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    transition: 0.3s ease;

    &--active {
      border: 2px solid var(--white-color);
    }
  }
}
